@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Lato, sans-serif;
}
/* Hamburger menu */

/* Navbar2 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


.wrapper {
  display: flex;
  min-height: 100%;
}

input[data-function*='swipe'] {
  position: absolute;
  opacity: 0;
}

label[data-function*='swipe'] {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  display: block;
  width: 42px;
  height: 42px;
  font: 42px/42px fontawesome;
  text-align: center;
  color: #444;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

input[data-function*='swipe']:checked ~ label[data-function*='swipe'] {
  transform: translate3d(260px, 0, 0);
}

.content {
  flex: 1;
  padding: 80px 30px;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(0, 0, 0);
  transition: transform .3s;
}

input[data-function*='swipe']:checked ~ .content {
  transform: translate3d(260px, 0px, 0px);
}

input[data-function*='swipe']:checked ~ .sidebar {
  transform: translate3d(0px, 0px, 0px);
}
input[data-function*='swipe']:checked ~ .sidebar .menu li {
  width: 100%;
}

.sidebar {
  transform: translate3d(-260px, 0px, 0px);
  position: absolute;
  width: 260px;
  background: #607D8B;
  color: #eee;
  left: 0;
  height: 100%;
  transition: all .3s;
}

.menu li {
  padding: 10px;
  list-style: none;
  width: 0%;
  background: #607D8B;
  font-family: Lato, sans-serif;
}
.menu li:hover{
    background:#455A64;
}
.menu li.active {
  background: #455A64;
}
.menu li a {
  color: #fff;
  border-bottom: 1px solid #fff;
  display: block;
  text-decoration: none;
  padding: 5px 0px 5px 0;
  margin: 0 20px;
}

h1, h2 {
  margin: 30px 0;
  font-size: 45px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
}
/* Hero */
.hero {
  background: #DDD url('../assets/background_4.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height:  100vh;
  position: relative;
}
.hero__text { 
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position:  absolute;
  color: #FFF;
  top: 50%;
  left: 50%;
  text-align: center;
  transform:  translate(-50%,-50%);
}
.hero__title { 
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  white-space: nowrap;
}
/* Content */
.content__wrapper{
    width: 95%;
    margin: 0 auto;
}
.content__map{
    width: 100%;
    padding-bottom: 70%;
}
.content__map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sm__item{
    text-align: center;
    font-family: Lato, sans-serif;
    color: #fff;
    margin-top: 10%;
}
.fa {
    font-size: 40px !important; 
    color:white;
}

/* Grid system */
.grid__column-12 { width: 100%; }
.grid__column-11 { width: 91.666666666667%; }
.grid__column-10 { width: 83.333333333333%; }
.grid__column-9 {  width: 75%; }
.grid__column-8 {  width: 95%; }
.grid__column-7 {  width: 58.333333333333%; }
.grid__column-6 {  width: 95%; }
.grid__column-5 {  width: 41.666666666667%; }
.grid__column-4 {  width: 95%; }
.grid__column-3 {  width: 25%; }
.grid__column-2 {  width: 16.666666666667%; }
.grid__column-1 {  width: 8.333333333333%; }
.grid__gutter__left{
    padding-left: 3%;
}
.grid__image__person img{
    width: 100%;
    
}


.grid__development{
    
}

.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

.grid__container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    float:left;
}

.grid__row {
    display: block;
    margin: 0 -12px;
    padding: 0;
    overflow: hidden;
}

.grid__wrapper:after,
.grid__container:after,
.grid__row:after {
    content: "";
    display: table;
    clear: both;
}
.grid__column {
    position: relative;
    float: left;
    padding: 0 12px;
}

.grid__column-12,
.grid__column-11,
.grid__column-10,
.grid__column-9,
.grid__column-8,
.grid__column-7,
.grid__column-6,
.grid__column-5,
.grid__column-4,
.grid__column-3,
.grid__column-2,
.grid__column-1 {
    position: relative;
    float: left;
    padding: 0 12px;
}
.grid__column-6 img{
    max-width: 100%;
    max-height: 100%;
}
.grid__item__title{
    font-family: Lato, sans-serif;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 2%;
}
.grid__item__description{
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 10%;
}
.grid__button{
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 20px;
    background-color: #38393a;
    border-radius: 2px;
    text-align: center;
    border:1px solid transparent;
    width: 50%;
    margin: 0 auto;
    
}
.grid__button a{
    padding:10px;
    color:#fff;
    text-decoration: none;
    display:block;
}
.grid__button a:visited{
    color:#fff;
}
.grid__button:hover{
    background-color: transparent;
    border: 1px solid #38393a;
    
}
.grid__button a:hover{
    color:#38393a;
}
.grid__button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.grid__button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.grid__button:hover span {
  padding-right: 25px;
}
.grid__button:hover span:after {
  opacity: 1;
  right: 0;
}
.grid__title h1{
    text-align: left;
    font-family: Lato, sans-serif;
    font-weight: 200;
    font-size: 30px;
}
.grid__title{
    margin-top: 5%;
    margin-bottom: 5%;
}
.grid__body__image{
    width: 100%;
    overflow:hidden;
    margin:0 auto;
    
}
.grid__body__image:hover img{
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.grid__body__image img{
    margin-left: auto;
	margin-right: auto;
	display: block;
    max-width: 100%;
    max-height: 100%;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.grid__body__description{
    text-align: center;
    margin-top: 5%;
    font-family: Lato, sans-serif;
    font-weight: 100;
}
.grid__body__hr{
    border-bottom: 1px solid #B2B5BD;
    margin-top: 5%;
    margin-bottom: 2%;
}
/* Parallex effect */
body, html, main {
	/* important */
	height: 100%;
}
 

/* Parallax #2 */
.parallax { 
    width: 100%;
    float:left;
    margin-top: 10vh;
    /* The image used */
    background-image: url("../assets/background.jpg");

    /* Set a specific height */
    height: 50vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax h1{
    margin-top: 10vh;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.content__solo{
    margin-top: 5vh;
    width: 65%;
}
/* Contact form */
.form__container {
  width: 100%;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: 1px transparent;
  background: #38393a;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: transparent;
  color: #38393a;
  border: 1px solid #38393a;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#grid__map{
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
}
#grid__map iframe{
    width: 100%;
    height: 400px;
}



/* Media queries */
@media (min-width:481px) and (max-width: 640px)  {
    .hero__title{
         font-size: 35px;
     }
     .hero__text{
         font-size: 16px;
     }
}
@media (min-width:641px) and (max-width:960px) {
     .grid__title{
        
    }
    .hero__title{
         font-size: 40px;
     }
     .hero__text{
         font-size: 18px;
     }
     .sm__item{
        margin-top: 2%;
    }
    .parallax h1{
        font-size: 50px;
    }
    .fa {
    font-size: 50px !important; 
    }
}
@media (min-width:961px) and (max-width: 1024px)  { 
    
    .hero__title{
         font-size: 50px;
    }
     .hero__text{
         font-size: 18px;
    }
     .grid__column-4 {  width: 33.333333333333%; }
     .grid__column-8 {  width: 66.666666666667%; }
     .grid__column-6 {  width: 50%; } 
     .grid__body__description{
        margin-top: 0%;
        text-align: left;
    }
     .sm__item{
        margin-top: 2%;
     }
    .parallax h1{
        font-size: 50px;
    }
    .fa {
    font-size: 50px !important; 
    }
}
@media (min-width:1025px) and (max-width:1280px) { 
    .hero__title{
         font-size: 60px;
    }
     .hero__text{
         font-size: 20px;
    }
    .sm__item{
        margin-top: 2%;
     }
}
@media (min-width:1281px) and (max-width:1366px) {
    
    .hero__title{
         font-size: 70px;
    }
     .hero__text{
         font-size: 20px;
    }
    .sm__item{
        margin-top: 2%;
     }
}
@media screen and (min-width:1367px) {
     .hero__title{
         font-size: 80px;
     }
     .hero__text{
         font-size: 20px;
     }
     .content__wrapper{
        width: 50%;
    }
    .grid__column-4 {  width: 33.333333333333%; }
    .grid__column-8 {  width: 66.666666666667%; }
    .grid__column-6 {  width: 50%; } 
    .grid__title h1{
        font-size: 40px;
    } 
    .parallax h1{
        font-size: 60px;
    }
    .sm__item{
        margin-top: 5%;
    } 
    
    .grid__button{
        width: 25%;
    }
    .grid__body__description{
        margin-top: 0%;
        text-align: left;
    }
    .fa {
    font-size: 70px !important; 
    }

}







